/* ---------------------------------------------------------     GENERAL    ----------------------------------------------------------------- */
@font-face {
    font-family: Simpsons;
    src: url("/public/fonts/Simpsonfont.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Simpsons, Arial, sans-serif;
    overflow: hidden;
    color: black;
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box-shadow,
.button {
    box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -12px rgba(0, 0, 0, 0.75);
}

.button {
    cursor: pointer;
    padding: 15px 25px;
    font-size: 15px;
    background-color: #FFEF0A;
    border-radius: 8px;
}

#app {
    height: 100vh;
    background-image: url("/public/background.webp");
    background-size: cover;
    background-position: center center;
}

/* --------------------------------------------------------     HOME    ---------------------------------------------------------------- */


#home-container {
    background-color: #eaeaeabb;
    padding: 2rem 6rem;
    border-radius: 10px;
    width: 460px;
    /*max-width: 70svw;*/
    gap: 3rem;
}

#home-container h1 {
    font-size: 3rem;
    font-weight: 700;
}


.start-button, 
.select-frase-button {
    width: 300px;
}

/* --------------------------------------------------------     GAME   ---------------------------------------------------------------- */


#game-container {
    background-color: #eaeaeabb;
    justify-content: space-evenly;
    width: 610px;
    max-width: 100svw;
    height: 94vh;
    border-radius: 10px;
    gap: 1rem;
}

#quien-lo-dijo {
    font-size: 26px;
    padding: 0 0 1rem 0;
}

#buttons-container {
    gap: 2rem;
}

.backToHome-button {
    font-size: 12px;
    background-color: #ffef0aa1;
    scale: 0.9;
}

#backToHome-button-container {
    align-self: flex-start;
    position: absolute;
    top: 5px;
    left: 5px;
}

#frase-container {
    height: 140px;
    padding: 0 1rem;
    max-width: 700px;
}

/* --------------------------------------------------------     GAME   OVER    ---------------------------------------------------------------- */

#game-over-container{
    height: 100%;
    justify-content: space-evenly;
}

#game-over-text {
    font-size: 38px;
}

#game-over-gif{
    width: 90%;
}

/* ---------------------------------------------------------     RESPONSIVE   ----------------------------------------------------------------- */

@media(max-width: 550px) {
    #game-container,
    #home-container{
        scale: 0.95;
    }
}
@media(max-width: 500px) {
    #game-container,
    #home-container{
        scale: 0.9;
    }
}
@media(max-width: 450px) {
    #game-container,
    #home-container{
        scale: 0.85;
    }
}
/*@media(max-width: 400px) {
    #game-container,
    #home-container{
        scale: 0.8;
    }
}
@media(max-width: 350px) {
    #game-container,
    #home-container{
        scale: 0.78;
    }
}
@media(max-width: 300px) {
    #game-container,
    #home-container{
        scale: 0.73;
    }
}*/
